<% provide(:title, 'Skill') %>
<h1><%= @name %>に項目を追加</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @item, html: { id: 'item-form' }) do |f| %>
      <div class="form-group">
        <%= f.label :項目名 %>
        <%= f.text_field :item_name, class: 'no-border', id: 'item-name-input' %>
        <%= f.hidden_field :category_id, value:  @category_id %>
        <%= f.hidden_field :user_id, value:  @current_user %>
        <%= f.hidden_field :month, value:  @month %>
      </div>

      <div class="form-group">
        <%= f.label :学習時間 %>
        <div class="input-group">
        <%= f.number_field :study_time, autocomplete: "off", style: 'width: 450px; border: none; border-bottom: 1px solid #ccc;' %>
        </div>
        <%= f.label :study_time, '分単位で入力お願いしてください', class: 'fill' %>
      </div>

      <div class="text-center">
        <%= f.submit "追加する", class: "btn btn-primary", id: "open" %>
      </div>
    <% end %>
  </div>
</div>

<div id="myModal" class="modal">
  <div class="modal-content">
    <p id="modalContent"></p>
    <a href="#" class="modal-close-btn" onclick="closeModal()">編集ページに戻る</a>
  </div>
</div>

<script>
  // モーダル表示用の関数
  function openModal(content) {
    var modal = document.getElementById('myModal');
    var modalContent = document.getElementById('modalContent');
    modalContent.innerHTML = content;
    modal.style.display = 'block';
  }

  // モーダル非表示用の関数
  function closeModal() {
    var modal = document.getElementById('myModal');
    modal.style.display = 'none';
  }

  // ボタンクリック時にモーダルを表示
  document.getElementById('open').addEventListener('click', function() {
    var itemName = document.getElementById('item-name-input').value;
    var studyTime = document.getElementById('item-form').elements['item[study_time]'].value;
    var name = "<%= @name %>";
    var content = name + "に" + itemName + "を<br>" + studyTime + "分で追加しました！";
    openModal(content);
  });

  // モーダルが閉じられた時に前のURLに戻る
  document.querySelector('.modal-close-btn').addEventListener('click', function() {
    closeModal();
    var previousUrl = document.referrer;
    window.location.href = previousUrl;
  });
</script>
