<% provide(:title, 'Skill') %>
<h1>{カテゴリー名}に項目を追加</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @item) do |f| %>

      <%= f.hidden_field :category_id, value: @category_id %>

      <%= f.hidden_field :item_id, value: 1%>

      <%= f.label :項目名 %>
      <%= f.text_field :item_name, class: 'form-control' %>

      <%= f.label :学習時間 %>
      <%= f.text_field :study_time, class: 'form-control' %>

      <%= f.submit "追加する", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
