<div style="padding: 10px; margin-bottom: 20px; border-radius: 10px; overflow-y: auto; max-height: 300px">
  <!-- 項目名と学習時間のヘッダー部分 -->
  <table style="width: 100%; border-collapse: collapse">
    <thead>
      <tr style="border-bottom: 1px solid lightgray;">
        <th style="padding: 10px; width: 19%; padding-left: 65px; border-left: 1px solid lightgray; border-top: 1px solid lightgray;">項目名</th>
        <th style="padding: 10px; padding-left: 65px; border-top: 1px solid lightgray; border-right: 1px solid lightgray;">学習時間</th>
      </tr>
    </thead>
  </table>

  <!-- データ部分 -->
  <div style="overflow-y: auto; max-height: 166px;">
  <table style="width: 100%; border-collapse: collapse; border: 1px solid lightgray; box-shadow: 0px 5px 5px -5px #888888;">
    <tbody>
      <% backends.each do |item| %>
        <tr style="border-bottom: 1px solid lightgray;">
          <td style="padding: 10px; padding-left: 70px; padding-right: 60px">
            <%= item.item_name %>
          </td>
          <td style="padding: 10px">
            <div style="border: 1px solid lightgray; padding: 5px; display: inline-block;">
              <%= form_with(model: item, local: true, html: { method: :patch, class: "update-form" }) do |i| %>
                <%= i.number_field :study_time, autocomplete: "off" %>
              <% end %>
            </div>
          </td>
          <td style="padding: 10px">
            <div style="border: 1px solid #1B5678; padding: 5px; display: inline-block; width: 200px;">
              <%= form_with(model: item, local: true, html: { method: :patch, class: "update-form" }) do |i| %>
                <%= i.submit "学習時間を保存する", class: "open-modal", style: "color: #1B5678;", onclick: "handleSave('#{item.item_name}')", data: { disable_with: "処理中..." } %>
              <% end %>
            </div>
          </td>
          <td style="padding: 10px">
            <%= form_with(model: item, method: :delete, local: true) do |i| %>
              <%= i.submit "削除する", class: "destroy-modal", data: { item_name: item.item_name, item_id: item.id }, style: "color: white; background-color: #EE6969; padding: 5px; display: inline-block; width: 120px;", onclick: "confirmDelete('#{item.item_name}', #{item.id})" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

</div>





<div id="myModal" class="modal">
  <div class="modal-content">
    <p id="modalContent"></p>
    <a href="#" class="modal-close-btn" onclick="closeModal()">編集ページに戻る</a>
  </div>
</div>

<script>
 function showModal(content) {
    var modal = document.getElementById('myModal');
    var modalContent = document.getElementById('modalContent');
    modalContent.innerHTML = content;
    modal.style.display = 'flex';
  }

  function handleSave(itemName) {
    showModal(itemName + 'の学習時間を保存しました！<br><br>');
    // 保存の実際の処理を追加する
  }

  function closeModal() {
    var modal = document.getElementById('myModal');
    modal.style.display = 'none';
    location.reload();
  }

  function confirmDelete(itemName, itemId) {
    showModal(itemName + 'を削除しました！');
  }
</script>

