<% provide(:title, 'Skill') %>
<div class="row">
 <div class="col-md-6 col-md-offset-3">

  <h1>バックエンド</h1>
  <%= form_with(model: @category) do |f| %>
    <%= f.hidden_field :id, value: "1" %>
    <%= f.hidden_field :category_name, value: "backend" %>
    <%= f.submit "追加する", class: "btn btn-primary" %>
  <% end %>

  <% @backends.each do |item|%>
    
    <%= form_with model: item do |i| %>
      <%= item.item_name %>
      <%= item.study_time %>
      <%= i.select :study_time, [["10", "10"], ["20", "20"]] %>
      <%= i.submit "学習時間を保存する", class: "btn btn-primary" %>
    <% end %>

    <%= form_with model: item, method: :delete do |i| %>
      <%= i.submit "削除する", frommethod: :delete, class: "btn btn-primary" %> 
    <% end %>
  
   <% end %>