<% provide(:title, 'Skill') %>

<select id="number">
<option><%= @month %></option>
<option><%= @this_month %></option>
<option><%= @this_month -1 %></option>
<option><%= @this_month -2 %></option>
</select>

<div class="row">
 <div class="col-md-6 col-md-offset-3">

  <h1>バックエンド</h1>
  <%= form_with(model: @category) do |f| %>
    <%= f.hidden_field :id, value: "1" %>
    <%= f.hidden_field :category_name, value: "backend" %>
    <%= f.submit "追加する", class: "btn btn-primary", id: "btn_submit" %>
  <% end %>

  <div style="width:300px;height:150px;overflow:auto;">
  <% @backends.each do |item|%>
    
    <%= form_with model: item do |i| %>
      <%= item.item_name %>
      <%= i.number_field :study_time, autocomplete: "off" %>
      <%= i.submit "学習時間を保存する", class: "btn btn-primary" %>
    <% end %>

    <%= form_with model: item, method: :delete do |i| %>
      <%= i.submit "削除する", frommethod: :delete, class: "btn btn-primary" %> 
    <% end %>
  
   <% end %>
   </div>

  </div>
 
 </div>

<script>
let text = document.getElementById('number');
text.addEventListener('change', inputChange);

function inputChange(event){
  const selectedCategoryId = this.value;
  console.log(selectedCategoryId)
  window.location.href = '/categories/?month=' + selectedCategoryId;
}

let btn = document.getElementById("btn_submit")
btn.addEventListener("click", onClick);

function onClick(event){
  const selectedCategoryId = number.value;
  console.log(selectedCategoryId)
  location.href = '/categories/?month=' + selectedCategoryId;
}

</script>