<% provide(:title, 'Skill') %>

<h1>バックエンド</h1>

<%= form_with(model: @category) do |f| %>
    <%= f.hidden_field :category_id, value: "1" %>
    <%= f.hidden_field :category_name, value: "backend" %>

    <%= f.submit "追加する", class: "btn btn-primary" %>
<% end %>

<% @items.each do |item|%>
    
<%= form_with model:Item.first do |i| %>
    <%= item.item_name %>
    <%= item.study_time %>
    <%= i.select :study_time, [["10", "10"], ["20", "20"]] %>

    <%= i.submit "学習時間を保存する", class: "btn btn-primary" %>
    <%= i.submit "削除する", formmethod: :delete, class: "btn btn-primary" %>
    
<% end %>

<% end %>